/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "compass";


@font-face {
    font-family: 'MuseoRegular';
    src: url('fonts/museo300-regular.eot');
    src: url('fonts/museo300-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo300-regular.woff') format('woff'),
         url('fonts/museo300-regular.ttf') format('truetype'),
         url('fonts/museo300-regular.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoBold';
    src: url('fonts/museo500-regular.eot');
    src: url('fonts/museo500-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo500-regular.woff') format('woff'),
         url('fonts/museo500-regular.ttf') format('truetype'),
         url('fonts/museo500-regular.svg#Museo500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoBlack';
    src: url('fonts/museo700-regular.eot');
    src: url('fonts/museo700-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo700-regular.woff') format('woff'),
         url('fonts/museo700-regular.ttf') format('truetype'),
         url('fonts/museo700-regular.svg#Museo700Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


$sans-serif-font-family: 'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
$serif-font-family: Georgia, Cambria, "Times New Roman", Times, serif;



$museo: 'MuseoRegular', Georgia, Cambria, "Times New Roman", Times, serif;
$museoBold :'MuseoBold', Georgia, Cambria, "Times New Roman", Times, serif;
$museoBlack: 'MuseoBlack', Georgia, Cambria, "Times New Roman", Times, serif;





@import "partials/boilerplate";
@import "partials/typography";
@import "partials/layout";
@import "partials/flash_messages";
@import "partials/header";
@import "partials/footer";
@import "partials/messageboards";
@import "partials/topics";
@import "partials/posts";
@import "partials/syntax_highlighting";
@import "partials/new_topic";
@import "partials/chosen";
@import "partials/forms";
@import "partials/setup";
@import "partials/search";
@import "partials/admin";
@import "partials/chaves";
@import "nav_bar.css.scss";
