#site_wide {
  height: 50px;
  padding:15px 25px;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  h1 {

    background: transparent;
    display: block;
    float: right;
    line-height: 24px;
    a {
      height: 45px;
      width:205px;
      background: transparent url(/assets/logo.png) no-repeat 0 0;
      display: block; 
      text-indent: -999em; 
      overflow: hidden; 
      background-repeat: no-repeat; 
      text-align: left; 
      direction: ltr;
      &:hover {
        border: {
          style:none;
        }
      }
    }
  }

  ul {
    overflow: hidden;

    li {
      display: inline-block;
      font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;

      a {
        @extend .button;
      }
    }
  }
}
